:root {
    @media (prefers-color-scheme: light) {
        --background-color: #f9fafb;

        --primary-color: #6d81a2;
        --secondary-color: #abb8ce;

        --text-color: #111317;
        --accent-color: #8599bc;
    }
    @media (prefers-color-scheme: dark) {
        --background-color: #040506;

        --primary-color: #5d7192;
        --secondary-color: #313e54;

        --text-color: #e8eaee;
        --accent-color: #43577a;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: var(--text-color);

    font-size: 15px;
    font-weight: 500;
}

h2 {
    font-size: 1.2rem;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    background: var(--accent-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

#button {
    padding: 0.2rem 1rem;

    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--primary-color);

    color: var(--background-color);

    cursor: pointer;

    @media (prefers-color-scheme: light) {
        color: var(--background-color);
    }
    @media (prefers-color-scheme: dark) {
        color: var(--text-color);
    }
}

#tag {
    width: min-content;
    height: min-content;

    padding: 0.3rem 1rem;
    margin: 0.3rem 0.5rem;

    border-radius: 3px;

    text-align: center;
}
