:root {
    @media (prefers-color-scheme: light) {
        --background-color: #e7f8ed;

        --primary-color: #18773b;
        --secondary-color: #71ef9d;

        --text-color: #0b1910;
        --accent-color: #09dc57;
    }
    @media (prefers-color-scheme: dark) {
        --background-color: #07180d;

        --primary-color: #86e7a9;
        --secondary-color: #108f3d;

        --text-color: #e7f5ec;
        --accent-color: #22f66e;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: var(--text-color);

    font-size: 15px;
    font-weight: 500;
}

h2 {
    font-size: 1.2rem;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

#button {
    padding: 0.2rem 1rem;

    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--secondary-color);

    cursor: pointer;
}

#tag {
    width: fit-content;
    height: min-content;

    padding: 0.3rem 1rem;

    border-radius: 3px;

    text-align: center;
}

#images {
    @media (prefers-color-scheme: dark) {
        filter: brightness(0) invert(1);
    }
}
