main {
    position: relative;
    width: 100dvw;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    overflow: auto;

    > #button {
        margin: 0 3rem;
        width: 30dvw;
    }
}

table {
    margin: 1rem 3rem;

    table-layout: fixed;
    border-collapse: collapse;

    tbody > tr > :first-child {
        cursor: pointer;
    }

    thead th {
        cursor: pointer;
    }

    th,
    td {
        max-width: 10rem;

        padding: 0 0.3rem;

        text-align: center;

        overflow-x: hidden;

        white-space: nowrap;

        border: 1px solid var(--secondary-color);
        border-left: 0;
        background-color: var(--background-color);

        img {
            width: 1.5rem;
            height: 1.5rem;
        }

        > * {
            margin: 0.5rem 0.3rem;
            display: inline-block;
            vertical-align: middle;
        }
    }

    th:last-child,
    tbody tr > td:last-child {
        border-right: 0;
    }

    thead th:first-child,
    tbody td:first-child {
        position: sticky;
        left: 0;
        top: 0;
        z-index: 2;
    }
}
