main {
    position: relative;
    width: 100dvw;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    overflow: auto;
}

.airdrops {
    border-collapse: collapse;

    margin: 0 5rem;

    table-layout: fixed;

    tbody > tr > :first-child {
        cursor: pointer;
    }

    thead th {
        cursor: pointer;
    }

    th,
    td {
        padding: 0 0.4rem;

        text-align: center;

        border: 1px solid var(--accent-color);
        background-color: var(--background-color);

        white-space: nowrap;

        border-top: 0;
        border-left: 0;

        > * {
            margin: 0.5rem;

            margin: 0 auto;

            display: flex;
            justify-content: center;
        }
    }

    th:last-child,
    tbody tr > td:last-child {
        border-right: 0;
    }

    tbody tr:last-child td {
        border-bottom: 0;
    }

    thead tr {
        position: sticky;
    }

    thead th:first-child,
    tbody td:first-child {
        position: sticky;
        left: 0;
        top: 0;
        z-index: 2;
    }
}
