main {
    position: relative;
    width: 100dvw;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    overflow: auto;
}

.airdrops {
    border-collapse: collapse;

    margin: 0 1rem;

    th,
    td {
        padding: 0.5rem 1rem;

        text-align: center;

        border: 1px solid var(--border-color);
        background-color: var(--main-gray);
    }

    th,
    td {
        border-top: 0;
        border-left: 0;
    }

    th:last-child,
    tbody tr > td:last-child {
        border-right: 0;
    }

    tbody tr:last-child td {
        border-bottom: 0;
    }

    thead tr {
        position: sticky;
    }

    thead th:first-child,
    tbody td:first-child {
        position: sticky;
        left: 0;
        top: 0;
        z-index: 2;
    }
}
