section.airdrop-page {
    z-index: 5;
    position: fixed;
    translate: 0 4rem;
    top: 0;
    right: 0;

    height: calc(100% - 4rem);
    width: 50%;

    padding: 2rem;
    row-gap: 1rem;

    display: none;
    flex-direction: column;

    background-color: var(--background-color);
    border-left: 3px solid var(--primary-color);

    text-align: left;

    overflow-y: auto;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }

    > * {
        padding: 0.5rem;
    }

    > :first-child {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
    }

    > div {
        border-bottom: 2px solid var(--secondary-color);
    }

    > :nth-child(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.5rem;
        align-items: center;
        justify-items: start;

        > div {
            display: flex;
            column-gap: 0.5rem;
        }
    }

    > :nth-child(3),
    > :nth-child(4) {
        > h2 {
            margin-bottom: 0.3rem;
        }
    }

    @media screen and (max-width: 900px) {
        width: 100%;
    }
}
